TranslateChatGoogle_minimal/a365-ds-translate-chat-minimal.json
[
    {
        "id": "9e5e6d9e.50af98",
        "type": "tab",
        "label": "Translate Chat Minimal",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bbf0d30a.aaad9",
        "type": "any-red-incoming-call",
        "z": "9e5e6d9e.50af98",
        "name": "",
        "config": "5ace9665.55c5c8",
        "filtertype": "chat",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "ce102ec2.aa9528"
            ]
        ]
    },
    {
        "id": "c11efe0b.357648",
        "type": "any-red-translate",
        "z": "9e5e6d9e.50af98",
        "name": "",
        "text": "payload",
        "dataType": "msg",
        "source_language": "EN",
        "source_language_dataType": "str",
        "target_language": "FR",
        "target_language_dataType": "str",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "7469121c.c68a7c",
                "f2207c80.c77a68"
            ]
        ]
    },
    {
        "id": "f2207c80.c77a68",
        "type": "any-red-say",
        "z": "9e5e6d9e.50af98",
        "name": "",
        "text": "welcome to translate chat bot EN to FR edition",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "a1806c92.a586a"
            ]
        ]
    },
    {
        "id": "7469121c.c68a7c",
        "type": "debug",
        "z": "9e5e6d9e.50af98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1806c92.a586a",
        "type": "any-red-say",
        "z": "9e5e6d9e.50af98",
        "name": "Say: Translated",
        "text": "payload.translatedText",
        "dataType": "msg",
        "saymethod": "Default",
        "voice": "",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "5d301433.3911cc"
            ]
        ]
    },
    {
        "id": "5d301433.3911cc",
        "type": "any-red-disconnect",
        "z": "9e5e6d9e.50af98",
        "name": "",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "ce102ec2.aa9528",
        "type": "any-red-wait-for-chatmessage",
        "z": "9e5e6d9e.50af98",
        "timeout": 30,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "c11efe0b.357648"
            ],
            []
        ]
    },
    {
        "id": "5ace9665.55c5c8",
        "type": "any-red-config",
        "z": "",
        "active": true,
        "ucc": "ucc_william"
    }
]