UsefulSamples/a365-ds-checkoutgoingip.json
[{"id":"f138ab44.9d3cd8","type":"group","z":"b9359efd.d1f91","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a52e18d7.7b8c28","4a4a5743.138a08","b677c8b2.716938","ae44b2a5.44621"],"x":14,"y":19,"w":532,"h":142},{"id":"a52e18d7.7b8c28","type":"http request","z":"b9359efd.d1f91","g":"f138ab44.9d3cd8","name":"Check Outgoing IP","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.ipify.org?format=json","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["b677c8b2.716938"]]},{"id":"4a4a5743.138a08","type":"inject","z":"b9359efd.d1f91","g":"f138ab44.9d3cd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["a52e18d7.7b8c28"]]},{"id":"b677c8b2.716938","type":"debug","z":"b9359efd.d1f91","g":"f138ab44.9d3cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"ae44b2a5.44621","type":"comment","z":"b9359efd.d1f91","g":"f138ab44.9d3cd8","name":"Check Outbound IP","info":"","x":140,"y":60,"wires":[]}]