A365MSTeamsChatBot_Demo/A365MSTeamsChatBot_Demo-v1.0.0.json
[{"id":"4e2d6e39.4d5e7","type":"tab","label":"MS Teams Bot Example","disabled":false,"info":""},{"id":"d5ea9936.6ec598","type":"http in","z":"4e2d6e39.4d5e7","name":"Bot Input","url":"/api/v1/message","method":"post","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["a29f6060.77806","31833c6f.931b84"]]},{"id":"b5be3495.444f08","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch State","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"initialize","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1610,"y":100,"wires":[["170e40ce.27e23f"],["1d212b8e.a381e4","ed48a476.140cf8"],[],["2bd6431f.a1b49c"]]},{"id":"30a2fb04.c79894","type":"comment","z":"4e2d6e39.4d5e7","name":"Route based on state","info":"","x":1640,"y":40,"wires":[]},{"id":"a29f6060.77806","type":"debug","z":"4e2d6e39.4d5e7","name":"Complete Input Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":140,"wires":[]},{"id":"1e94a206.7f993e","type":"http response","z":"4e2d6e39.4d5e7","name":"Invalid token response","statusCode":"400","headers":{},"x":1440,"y":340,"wires":[]},{"id":"6c793ebd.c0ca6","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'The session was initialized. Send another message to test a plain-text message or choose one of the options.';\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":60,"wires":[["7d59d55e.8713fc","4dc9b165.785b7"]]},{"id":"7d59d55e.8713fc","type":"http response","z":"4e2d6e39.4d5e7","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":60,"wires":[]},{"id":"3a613633.c920da","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload = {\n    'message' : 'Request failed'\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":340,"wires":[["1e94a206.7f993e"]]},{"id":"adc24e7c.8a048","type":"comment","z":"4e2d6e39.4d5e7","name":"Invalid state: 400 - Bad Request","info":"","x":1290,"y":300,"wires":[]},{"id":"2bd6431f.a1b49c","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Options","property":"payload.optionId","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1900,"y":340,"wires":[["2ad6cb39.138554"],["a117d538.6db6a8"],["ed1382b7.97c28"],["ddafdd95.08099"],["4392e01f.e9907"]]},{"id":"2413c0c0.06f75","type":"comment","z":"4e2d6e39.4d5e7","name":"Initialize: Return some options","info":"","x":2220,"y":40,"wires":[]},{"id":"c66cbcb1.79e66","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'ECHO';\nmsg.payload.message = 'ECHO: ' + msg.payload.originalMessage;\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":940,"wires":[["de6d521b.7564","b91af3a0.eb6cd"]]},{"id":"33854c59.a2c214","type":"comment","z":"4e2d6e39.4d5e7","name":"Message: plain-text echo","info":"","x":2210,"y":920,"wires":[]},{"id":"de6d521b.7564","type":"http response","z":"4e2d6e39.4d5e7","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":940,"wires":[]},{"id":"c6491677.37e098","type":"comment","z":"4e2d6e39.4d5e7","name":"Message: switch options","info":"","x":1930,"y":280,"wires":[]},{"id":"81c3607.6b507a","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'Plain Text';\nmsg.payload.message = 'You have chosen the option to send a plain text Message :) \\r\\n Choose another option to continue...';\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":300,"wires":[["d2d5c25a.4a5c8","cabfb15a.63113"]]},{"id":"f7c712af.74dfe","type":"comment","z":"4e2d6e39.4d5e7","name":"Message: plain-text","info":"","x":2190,"y":280,"wires":[]},{"id":"d2d5c25a.4a5c8","type":"http response","z":"4e2d6e39.4d5e7","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":300,"wires":[]},{"id":"69af0086.fb6e2","type":"function","z":"4e2d6e39.4d5e7","name":"Update Message Request","func":"// Hard-code the host here for tighter\n// security! This way you are sure the message\n// is always sent to your bot.\nmsg = {\n    url: msg.payload.callbackHost+'/'+msg.payload.callbackUrl+'message',\n    payload: {\n        id: msg.payload.id,\n        user: msg.payload.user,\n        token: msg.payload.token,\n        state: msg.payload.state,\n        callbackUrl: msg.payload.callbackUrl,\n        callbackHost: msg.payload.callbackHost,\n        messageType: msg.payload.messageType,\n        originalMessage: msg.payload.originalMessage,\n        message : '',\n        title : '',\n        culture: msg.payload.culture,\n        optionId: msg.payload.optionId,\n        optionSet: [\n            {\n                id: '1',\n                option: 'Send me a plain-text message',\n                order: 0\n            },\n            {\n                id: '2',\n                option: 'Send me a rich-text message',\n                order: 1\n            },\n            {\n                id: '3',\n                option: 'Send me an Adaptive Card',\n                order: 2\n            },\n            {\n                id: '4',\n                option: 'Disconnect from conversation',\n                order: 3\n            }\n        ],\n        resourceSet: [\n            {\n                key: 'endOfConversation.title',\n                value: 'Conversation was stopped',\n                culture: 'en-us'\n            },\n            {\n                key: 'endOfConversation.text',\n                value: 'The conversation has been terminated.',\n                culture: 'en-us'\n            },\n            {\n                key: 'endOfConversation.buttonText',\n                value: 'Begin a new one',\n                culture: 'en-us'\n            }\n        ]\n    },\n    req: msg.req,\n    res: msg.res\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":100,"wires":[["b5be3495.444f08","cbe500d5.715ff","8a438b20.6da678"]]},{"id":"e1be7f49.14c8b","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'richtext';\nmsg.payload.title = 'Richt Text';\nmsg.payload.message = `**You** have *chosen* the option to send a richt-text text Message. \\r\\n\n\\r\\n\nImage Example:\\r\\n\n![Duck on a rock](http://aka.ms/Fo983c) \\r\\n\n\\r\\n\nHyperlink Example:\\r\\n\n[Examples of text-formatting](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-text-formats#examples-of-text-formatting)\\r\\n\n\\r\\n\nChoose another option to continue...`;\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":460,"wires":[["5cba3067.1db93","b4207b93.6d6da8"]]},{"id":"8e39417b.c7149","type":"comment","z":"4e2d6e39.4d5e7","name":"Message: rich-text","info":"","x":2190,"y":440,"wires":[]},{"id":"5cba3067.1db93","type":"http response","z":"4e2d6e39.4d5e7","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":460,"wires":[]},{"id":"8ce8f375.898d2","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'adaptivecard';\nmsg.payload.message = `{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"This example uses [Adaptive Card Templating](https://adaptivecards.io/designer/)\",\n                    \"size\": \"Medium\",\n                    \"wrap\": true\n                }\n            ],\n            \"style\": \"good\",\n            \"bleed\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Example Card\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://pbs.twimg.com/profile_images/3647943215/d7f12830b3c17a5a9e4afcc370e3a37e_400x400.jpeg\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Example Title\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"spacing\": \"None\",\n                            \"text\": \"Example Date - {{DATE(2020-02-14T06:08:39Z, SHORT)}}\",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"This is an example of an adaptive card that can be created with the App-Studio in Microsoft Teams or the online editor on adaptivecards.io. This card is sent in the payload as JSON.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n            {\n              \"title\": \"Type:\",\n              \"value\": \"Adaptive Card\"\n            },\n            {\n              \"title\": \"Provider:\",\n              \"value\": \"Dialogue Studio\"\n            }\n          ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Set a date\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"body\": [\n                    {\n                        \"type\": \"Input.Date\",\n                        \"id\": \"dueDate\"\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comment\",\n                        \"placeholder\": \"Add a comment\",\n                        \"isMultiline\": true\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            }\n        },\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"View\",\n            \"url\": \"http://golive.anywhere365.io/platform_elements/dialogue_studio/dialogue_studio.html\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}\n`;\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":620,"wires":[["40e523ee.2a65cc","dd68ff48.10acd"]]},{"id":"3ab82ec6.4f4432","type":"comment","z":"4e2d6e39.4d5e7","name":"Message: adaptive-card","info":"","x":2200,"y":600,"wires":[]},{"id":"40e523ee.2a65cc","type":"http response","z":"4e2d6e39.4d5e7","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":620,"wires":[]},{"id":"170e40ce.27e23f","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Callback","property":"callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":80,"wires":[["6c793ebd.c0ca6"],["de85ac1d.7d23a","6d871cbe.6a61c4"]]},{"id":"de85ac1d.7d23a","type":"delay","z":"4e2d6e39.4d5e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":140,"wires":[["89132c22.f6faa"]]},{"id":"6d871cbe.6a61c4","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":100,"wires":[]},{"id":"1bbfe214.be6f9e","type":"http request","z":"4e2d6e39.4d5e7","name":"Post msg to Callback-Url","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3410,"y":440,"wires":[["f81926f4.fb4968"]]},{"id":"89132c22.f6faa","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'The session was initialized. Send another message to test a plain-text message or choose one of the options.';\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":140,"wires":[["f1528e98.ca875"]]},{"id":"2ad6cb39.138554","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":320,"wires":[["81c3607.6b507a"],["f6869d50.58f85","b2cfbb92.d2c9e8"]]},{"id":"a117d538.6db6a8","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":480,"wires":[["e1be7f49.14c8b"],["7411794a.d900a8","34f7dcc8.5abdf4"]]},{"id":"ed1382b7.97c28","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":640,"wires":[["8ce8f375.898d2"],["6ed30d51.ae81c4","9c6f4b5.c37c5b8"]]},{"id":"4392e01f.e9907","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":960,"wires":[["c66cbcb1.79e66"],["5dfc0f1.0b07ff","98d4a9e9.9f5e98"]]},{"id":"f6869d50.58f85","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":340,"wires":[]},{"id":"7411794a.d900a8","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":500,"wires":[]},{"id":"9c6f4b5.c37c5b8","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":660,"wires":[]},{"id":"5dfc0f1.0b07ff","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":980,"wires":[]},{"id":"b2cfbb92.d2c9e8","type":"delay","z":"4e2d6e39.4d5e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":380,"wires":[["cd658799.796608"]]},{"id":"34f7dcc8.5abdf4","type":"delay","z":"4e2d6e39.4d5e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":540,"wires":[["f4f42d9a.6914"]]},{"id":"6ed30d51.ae81c4","type":"delay","z":"4e2d6e39.4d5e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":700,"wires":[["cc68db98.7820c8"]]},{"id":"98d4a9e9.9f5e98","type":"delay","z":"4e2d6e39.4d5e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":1020,"wires":[["34f6ae19.9f9212"]]},{"id":"cd658799.796608","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'Plain Text';\nmsg.payload.message = 'You have chosen the option to send a plain text Message :) \\r\\n Choose another option to continue...';\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":380,"wires":[["f1528e98.ca875"]]},{"id":"f4f42d9a.6914","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'richtext';\nmsg.payload.title = 'Richt Text';\nmsg.payload.message = `**You** have *chosen* the option to send a richt-text text Message. \\r\\n\n\\r\\n\nImage Example:\\r\\n\n![Duck on a rock](http://aka.ms/Fo983c) \\r\\n\n\\r\\n\nHyperlink Example:\\r\\n\n[Examples of text-formatting](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-text-formats#examples-of-text-formatting)\\r\\n\n\\r\\n\nChoose another option to continue...`;\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":540,"wires":[["f1528e98.ca875"]]},{"id":"cc68db98.7820c8","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'adaptivecard';\nmsg.payload.message = `{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"This example uses [Adaptive Card Templating](https://adaptivecards.io/designer/)\",\n                    \"size\": \"Medium\",\n                    \"wrap\": true\n                }\n            ],\n            \"style\": \"good\",\n            \"bleed\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Example Card\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://pbs.twimg.com/profile_images/3647943215/d7f12830b3c17a5a9e4afcc370e3a37e_400x400.jpeg\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Example Title\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"spacing\": \"None\",\n                            \"text\": \"Example Date - {{DATE(2020-02-14T06:08:39Z, SHORT)}}\",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"This is an example of an adaptive card that can be created with the App-Studio in Microsoft Teams or the online editor on adaptivecards.io. This card is sent in the payload as JSON.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n            {\n              \"title\": \"Type:\",\n              \"value\": \"Adaptive Card\"\n            },\n            {\n              \"title\": \"Provider:\",\n              \"value\": \"Dialogue Studio\"\n            }\n          ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Set a date\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"body\": [\n                    {\n                        \"type\": \"Input.Date\",\n                        \"id\": \"dueDate\"\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comment\",\n                        \"placeholder\": \"Add a comment\",\n                        \"isMultiline\": true\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            }\n        },\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"View\",\n            \"url\": \"http://golive.anywhere365.io/platform_elements/dialogue_studio/dialogue_studio.html\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}\n`;\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":700,"wires":[["f1528e98.ca875"]]},{"id":"34f6ae19.9f9212","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'ECHO';\nmsg.payload.message = 'ECHO: ' + msg.payload.originalMessage;\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":1020,"wires":[["f1528e98.ca875"]]},{"id":"f81926f4.fb4968","type":"debug","z":"4e2d6e39.4d5e7","name":"POST: Callback Reponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3690,"y":440,"wires":[]},{"id":"6964a09c.29722","type":"comment","z":"4e2d6e39.4d5e7","name":"Trigger the callback-api endpoint of the bot","info":"","x":3460,"y":400,"wires":[]},{"id":"1d212b8e.a381e4","type":"debug","z":"4e2d6e39.4d5e7","name":"Client Disconnected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\t    \"payload\": \"Client disconnected\"\t}","targetType":"jsonata","x":1920,"y":220,"wires":[]},{"id":"ed48a476.140cf8","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":1900,"y":180,"wires":[]},{"id":"dd1240ad.4f9f5","type":"comment","z":"4e2d6e39.4d5e7","name":"Disconnected: Client sent disconnected state","info":"","x":1990,"y":140,"wires":[]},{"id":"5e8160bd.40f23","type":"debug","z":"4e2d6e39.4d5e7","name":"Authorization Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers.authorization","targetType":"msg","x":1260,"y":380,"wires":[]},{"id":"cbe500d5.715ff","type":"debug","z":"4e2d6e39.4d5e7","name":"Message Payload: State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state","targetType":"msg","x":1330,"y":180,"wires":[]},{"id":"4dc9b165.785b7","type":"debug","z":"4e2d6e39.4d5e7","name":"Initialize Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2710,"y":100,"wires":[]},{"id":"cabfb15a.63113","type":"debug","z":"4e2d6e39.4d5e7","name":"Plain-Text Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2720,"y":340,"wires":[]},{"id":"b4207b93.6d6da8","type":"debug","z":"4e2d6e39.4d5e7","name":"Rich-Text Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2720,"y":500,"wires":[]},{"id":"dd68ff48.10acd","type":"debug","z":"4e2d6e39.4d5e7","name":"Adaptive-Card Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2730,"y":660,"wires":[]},{"id":"b91af3a0.eb6cd","type":"debug","z":"4e2d6e39.4d5e7","name":"Echo Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2700,"y":980,"wires":[]},{"id":"f1528e98.ca875","type":"function","z":"4e2d6e39.4d5e7","name":"Set State: Connected","func":"msg.payload.state = 'connected';\nreturn msg;","outputs":1,"noerr":0,"x":3060,"y":460,"wires":[["1bbfe214.be6f9e","a1599901.1163e8"]]},{"id":"6faeb939.18bda8","type":"comment","z":"4e2d6e39.4d5e7","name":"Validate token","info":"","x":570,"y":60,"wires":[]},{"id":"8a438b20.6da678","type":"debug","z":"4e2d6e39.4d5e7","name":"Message Payload: Option","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.optionId","targetType":"msg","x":1330,"y":220,"wires":[]},{"id":"a1599901.1163e8","type":"debug","z":"4e2d6e39.4d5e7","name":"POST: Complete Output Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3440,"y":520,"wires":[]},{"id":"ae502bcf.5f5ca8","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'Disconnecting, good bye!';\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":780,"wires":[["88a098a3.f08868","334bf59d.fb8d0a"]]},{"id":"774c4b7c.e0baf4","type":"comment","z":"4e2d6e39.4d5e7","name":"Disconnect Confirmation","info":"","x":2210,"y":760,"wires":[]},{"id":"88a098a3.f08868","type":"http response","z":"4e2d6e39.4d5e7","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":780,"wires":[]},{"id":"ddafdd95.08099","type":"switch","z":"4e2d6e39.4d5e7","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":800,"wires":[["ae502bcf.5f5ca8"],["26ab1c64.9bbd44","dc81284f.2ea738"]]},{"id":"26ab1c64.9bbd44","type":"http response","z":"4e2d6e39.4d5e7","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":820,"wires":[]},{"id":"dc81284f.2ea738","type":"delay","z":"4e2d6e39.4d5e7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":860,"wires":[["215dcfb7.cdafa"]]},{"id":"215dcfb7.cdafa","type":"function","z":"4e2d6e39.4d5e7","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'Disconnecting, good bye!';\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":860,"wires":[["b29ba772.cac388"]]},{"id":"334bf59d.fb8d0a","type":"debug","z":"4e2d6e39.4d5e7","name":"Echo Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2700,"y":820,"wires":[]},{"id":"b29ba772.cac388","type":"function","z":"4e2d6e39.4d5e7","name":"Set State: Disconnected","func":"msg.payload.state = 'disconnected';\nreturn msg;","outputs":1,"noerr":0,"x":3070,"y":500,"wires":[["1bbfe214.be6f9e","a1599901.1163e8"]]},{"id":"31833c6f.931b84","type":"function","z":"4e2d6e39.4d5e7","name":"Prepare Message Request","func":"// Hard-code the host here for tighter\n// security! This way you are sure the token\n// is validated with your bot.\nmsg = {\n    url: msg.payload.callbackHost+'/'+msg.payload.callbackUrl+'validate',\n    headers: {\n        'Content-Type': 'application/json',\n        'authorization': msg.req.headers.authorization\n    },\n    payload: {\n        id: msg.payload.id,\n        user: msg.payload.user,\n        token: '',\n        state: msg.payload.state,\n        callbackUrl: msg.payload.callbackUrl,\n        callbackHost: msg.payload.callbackHost,\n        messageType: msg.payload.messageType,\n        originalMessage: msg.payload.message,\n        message : '',\n        title : '',\n        culture: msg.payload.culture,\n        optionId: msg.payload.optionId,\n        optionSet: []\n    },\n    req: msg.req,\n    res: msg.res\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["5e63af93.32054"]]},{"id":"5e63af93.32054","type":"http request","z":"4e2d6e39.4d5e7","name":"Validate token with Callback-Url","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":100,"wires":[["38b14b8.f76c7b4","3fb84ccf.860754"]]},{"id":"38b14b8.f76c7b4","type":"debug","z":"4e2d6e39.4d5e7","name":"POST: Validation Reponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":100,"wires":[]},{"id":"f6e04f48.b3634","type":"comment","z":"4e2d6e39.4d5e7","name":"Store received message data","info":"","x":320,"y":60,"wires":[]},{"id":"3fb84ccf.860754","type":"switch","z":"4e2d6e39.4d5e7","name":"Check token result","property":"payload.token","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":140,"wires":[["69af0086.fb6e2"],["3a613633.c920da","5e8160bd.40f23"]]},{"id":"9c0d7872.538278","type":"comment","z":"4e2d6e39.4d5e7","name":"Restore message data and set new token","info":"","x":1320,"y":60,"wires":[]}]