QMMonitorQuestion/a365-ds-qmqualitymonitorquestions.json
[{"id":"7806a8d1.cc58d8","type":"any-red-quality-monitor-question","z":"587cba43.4a6f64","name":"","config":"","x":290,"y":1020,"wires":[["fcb50c75.c65f9"]]},{"id":"f6add4cd.6a8aa8","type":"any-red-quality-monitor-answer","z":"587cba43.4a6f64","name":"","audioFile":"","question":"payload.questionId","questionType":"msg","answer":"payload.answer","answerType":"msg","x":1450,"y":1020,"wires":[]},{"id":"7ef45640.c5c0e8","type":"switch","z":"587cba43.4a6f64","name":"Question","property":"payload.questionId","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":1020,"wires":[["6571081e.8775a8"],["c9bdeaf1.120e98"]]},{"id":"6571081e.8775a8","type":"any-red-ask-wait-input","z":"587cba43.4a6f64","name":"Question 1","saytext":"payload.welcomeText","saymethod":"Default","aawoption":"Say","voice":"","audioFile":"","audioFileSource":"url","dtmftype":"DtmfNumChars","tone":"1","tonecount":"1","timeout":"30","playonce":true,"repeatdelay":"5","speechphrase":"","speechculture":"en-US","dataType":"msg","x":830,"y":1000,"wires":[["bb38aa8a.e0a3d8"],["bb38aa8a.e0a3d8"]]},{"id":"c9bdeaf1.120e98","type":"any-red-ask-wait-input","z":"587cba43.4a6f64","name":"Question 2","saytext":"payload.welcomeText","saymethod":"Default","aawoption":"Say","voice":"","audioFile":"","audioFileSource":"url","dtmftype":"DtmfNumChars","tone":"1","tonecount":"1","timeout":"30","playonce":true,"repeatdelay":"5","speechphrase":"","speechculture":"en-US","dataType":"msg","x":830,"y":1040,"wires":[["bb38aa8a.e0a3d8"],["bb38aa8a.e0a3d8"]]},{"id":"fcb50c75.c65f9","type":"function","z":"587cba43.4a6f64","name":"save payload","func":"msg.test = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1020,"wires":[["7ef45640.c5c0e8"]]},{"id":"bb38aa8a.e0a3d8","type":"function","z":"587cba43.4a6f64","name":"write saved payload back to payload","func":"msg.payload = msg.test\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":1020,"wires":[["f6add4cd.6a8aa8"]]}]