OrderBeerBotChat/a365-ds-orderbeerbot-chat.json
[
    {
        "id": "6d7471ea.f49428",
        "type": "tab",
        "label": "Order Beer Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c16f2c82.a6d948",
        "type": "any-red-incoming-call",
        "z": "6d7471ea.f49428",
        "name": "",
        "config": "5ace9665.55c5c8",
        "filtertype": "chat",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "dcede318.9af438"
            ]
        ]
    },
    {
        "id": "dcede318.9af438",
        "type": "any-red-wait-for-chatmessage",
        "z": "6d7471ea.f49428",
        "timeout": 30,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "d2152eb0.457"
            ],
            []
        ]
    },
    {
        "id": "ad9bd96b.873dd8",
        "type": "any-red-say",
        "z": "6d7471ea.f49428",
        "name": "",
        "text": "hello",
        "dataType": "msg",
        "saymethod": "Default",
        "voice": "",
        "x": 640,
        "y": 60,
        "wires": [
            [
                "e8096346.c773f8"
            ]
        ]
    },
    {
        "id": "e8096346.c773f8",
        "type": "any-red-say",
        "z": "6d7471ea.f49428",
        "name": "",
        "text": "how many beer?",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "d03436f9.a0bdd8"
            ]
        ]
    },
    {
        "id": "d03436f9.a0bdd8",
        "type": "any-red-wait-for-chatmessage",
        "z": "6d7471ea.f49428",
        "timeout": "20",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "11d072e4.df6445"
            ],
            [
                "e8096346.c773f8"
            ]
        ]
    },
    {
        "id": "1c803726.010c09",
        "type": "any-red-say",
        "z": "6d7471ea.f49428",
        "name": "",
        "text": "we will ship tray of 6, ETA 1 hour, bye",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "aed81b5b.85be2"
            ]
        ]
    },
    {
        "id": "11d072e4.df6445",
        "type": "switch",
        "z": "6d7471ea.f49428",
        "name": "6 or six or other",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "six",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "1c803726.010c09"
            ],
            [
                "1c803726.010c09"
            ],
            [
                "c5ae11e1.4e525"
            ]
        ]
    },
    {
        "id": "c5ae11e1.4e525",
        "type": "any-red-say",
        "z": "6d7471ea.f49428",
        "name": "",
        "text": "wrong amount, bye",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "29fc8f0e.44cfb"
            ]
        ]
    },
    {
        "id": "aed81b5b.85be2",
        "type": "any-red-disconnect",
        "z": "6d7471ea.f49428",
        "name": "",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "29fc8f0e.44cfb",
        "type": "any-red-disconnect",
        "z": "6d7471ea.f49428",
        "name": "",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "d2152eb0.457",
        "type": "change",
        "z": "6d7471ea.f49428",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hello",
                "pt": "msg",
                "to": "'welcome ' & msg.session.sipUri",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "ad9bd96b.873dd8"
            ]
        ]
    },
    {
        "id": "5ace9665.55c5c8",
        "type": "any-red-config",
        "z": "",
        "active": true,
        "ucc": "ucc_name"
    }
]