A365DialogueStudioBot_Demo/A365DialogueStudioBot-v1.0.0.json
[{"id":"42c4dc57.c44804","type":"tab","label":"MS Teams Bot Example","disabled":false,"info":""},{"id":"5f49cc94.67b834","type":"http in","z":"42c4dc57.c44804","name":"Bot Input","url":"/api/v1/message","method":"post","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["3aa2b40.42cc44c","41c87c7b.083ce4"]]},{"id":"d5abe590.784b18","type":"switch","z":"42c4dc57.c44804","name":"Switch State","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"initialize","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1610,"y":100,"wires":[["3b988a32.cd0086"],["4ad10e5b.5d072","3f0874da.bfef8c"],[],["32990ac.c861ef6"]]},{"id":"49a2bb87.380cc4","type":"comment","z":"42c4dc57.c44804","name":"Route based on state","info":"","x":1640,"y":40,"wires":[]},{"id":"3aa2b40.42cc44c","type":"debug","z":"42c4dc57.c44804","name":"Complete Input Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":140,"wires":[]},{"id":"f6a83379.4a655","type":"http response","z":"42c4dc57.c44804","name":"Invalid token response","statusCode":"400","headers":{},"x":1440,"y":340,"wires":[]},{"id":"11f727ca.d89338","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'The session was initialized. Send another message to test a plain-text message or choose one of the options.';\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":60,"wires":[["816b46cc.e6d858","ebd30dd4.d8fa1"]]},{"id":"816b46cc.e6d858","type":"http response","z":"42c4dc57.c44804","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":60,"wires":[]},{"id":"4214ffa5.cf989","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload = {\n    'message' : 'Request failed'\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":340,"wires":[["f6a83379.4a655"]]},{"id":"14d881b0.39da4e","type":"comment","z":"42c4dc57.c44804","name":"Invalid state: 400 - Bad Request","info":"","x":1290,"y":300,"wires":[]},{"id":"32990ac.c861ef6","type":"switch","z":"42c4dc57.c44804","name":"Switch Options","property":"payload.optionId","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1900,"y":340,"wires":[["3d0f5844.314a88"],["18fb03ea.1d91fc"],["409e16cb.942118"],["fd49f093.aadf3"],["12e46295.efd2bd"]]},{"id":"ae83cb73.371f48","type":"comment","z":"42c4dc57.c44804","name":"Initialize: Return some options","info":"","x":2220,"y":40,"wires":[]},{"id":"5e1ea9e8.0b2ad8","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'ECHO';\nmsg.payload.message = 'ECHO: ' + msg.payload.originalMessage;\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":940,"wires":[["a63b798e.af9768","880a8cd6.c0341"]]},{"id":"3f0f099f.e51796","type":"comment","z":"42c4dc57.c44804","name":"Message: plain-text echo","info":"","x":2210,"y":920,"wires":[]},{"id":"a63b798e.af9768","type":"http response","z":"42c4dc57.c44804","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":940,"wires":[]},{"id":"1dd6010a.a6a54f","type":"comment","z":"42c4dc57.c44804","name":"Message: switch options","info":"","x":1930,"y":280,"wires":[]},{"id":"b3836c11.290f5","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'Plain Text';\nmsg.payload.message = 'You have chosen the option to send a plain text Message :) \\r\\n Choose another option to continue...';\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":300,"wires":[["1057f693.ad4d69","89c7951c.d9ea78"]]},{"id":"ea8a6489.d432b8","type":"comment","z":"42c4dc57.c44804","name":"Message: plain-text","info":"","x":2190,"y":280,"wires":[]},{"id":"1057f693.ad4d69","type":"http response","z":"42c4dc57.c44804","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":300,"wires":[]},{"id":"6b741f9.cea5ce","type":"function","z":"42c4dc57.c44804","name":"Update Message Request","func":"// Hard-code the host here for tighter\n// security! This way you are sure the message\n// is always sent to your bot.\nmsg = {\n    url: msg.payload.callbackHost+'/'+msg.payload.callbackUrl+'message',\n    payload: {\n        id: msg.payload.id,\n        user: msg.payload.user,\n        token: msg.payload.token,\n        state: msg.payload.state,\n        callbackUrl: msg.payload.callbackUrl,\n        callbackHost: msg.payload.callbackHost,\n        messageType: msg.payload.messageType,\n        originalMessage: msg.payload.originalMessage,\n        message : '',\n        title : '',\n        culture: msg.payload.culture,\n        customerUri: msg.payload.customerUri,\n        customerName: msg.payload.customerName,\n        optionId: msg.payload.optionId,\n        optionSet: [\n            {\n                id: '1',\n                option: 'Send me a plain-text message',\n                order: 0\n            },\n            {\n                id: '2',\n                option: 'Send me a rich-text message',\n                order: 1\n            },\n            {\n                id: '3',\n                option: 'Send me an Adaptive Card',\n                order: 2\n            },\n            {\n                id: '4',\n                option: 'Disconnect from conversation',\n                order: 3\n            }\n        ],\n        resourceSet: [\n            {\n                key: 'endOfConversation.title',\n                value: 'Conversation was stopped',\n                culture: 'en-us'\n            },\n            {\n                key: 'endOfConversation.text',\n                value: 'The conversation has been terminated.',\n                culture: 'en-us'\n            },\n            {\n                key: 'endOfConversation.buttonText',\n                value: 'Begin a new one',\n                culture: 'en-us'\n            }\n        ]\n    },\n    req: msg.req,\n    res: msg.res\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":100,"wires":[["d5abe590.784b18","ec254204.700fa","94be95fd.2475e8"]]},{"id":"69a96eff.29fc5","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'richtext';\nmsg.payload.title = 'Richt Text';\nmsg.payload.message = `<p><b>You</b> have <i>chosen</i> the option to send a richt-text text Message.</p>\n<p>Image Example:<p>\n<img alt=\"Duck on a rock\" src=\"http://aka.ms/Fo983c\" />\n<p>Hyperlink Example:</p>\n<p><a href=\"https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-text-formats#examples-of-text-formatting\">Examples of text-formatting</a></p>\n<p>Choose another option to continue...</p>`;\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":460,"wires":[["84205f6.16bd3a","1ddb5d00.820ed3"]]},{"id":"9b646de9.59868","type":"comment","z":"42c4dc57.c44804","name":"Message: rich-text","info":"","x":2190,"y":440,"wires":[]},{"id":"84205f6.16bd3a","type":"http response","z":"42c4dc57.c44804","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":460,"wires":[]},{"id":"fb2c48d0.19a668","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'adaptivecard';\nmsg.payload.message = `{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"This example uses [Adaptive Card Templating](https://adaptivecards.io/designer/)\",\n                    \"size\": \"Medium\",\n                    \"wrap\": true\n                }\n            ],\n            \"style\": \"good\",\n            \"bleed\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Example Card\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://pbs.twimg.com/profile_images/3647943215/d7f12830b3c17a5a9e4afcc370e3a37e_400x400.jpeg\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Example Title\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"spacing\": \"None\",\n                            \"text\": \"Example Date - {{DATE(2020-02-14T06:08:39Z, SHORT)}}\",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"This is an example of an adaptive card that can be created with the App-Studio in Microsoft Teams or the online editor on adaptivecards.io. This card is sent in the payload as JSON.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n            {\n              \"title\": \"Type:\",\n              \"value\": \"Adaptive Card\"\n            },\n            {\n              \"title\": \"Provider:\",\n              \"value\": \"Dialogue Studio\"\n            }\n          ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Set a date\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"body\": [\n                    {\n                        \"type\": \"Input.Date\",\n                        \"id\": \"dueDate\"\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comment\",\n                        \"placeholder\": \"Add a comment\",\n                        \"isMultiline\": true\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            }\n        },\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"View\",\n            \"url\": \"http://golive.anywhere365.io/platform_elements/dialogue_studio/dialogue_studio.html\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}\n`;\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":620,"wires":[["ee0297b3.730748","fef5bed5.d384b"]]},{"id":"cc9e4080.144b6","type":"comment","z":"42c4dc57.c44804","name":"Message: adaptive-card","info":"","x":2200,"y":600,"wires":[]},{"id":"ee0297b3.730748","type":"http response","z":"42c4dc57.c44804","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":620,"wires":[]},{"id":"3b988a32.cd0086","type":"switch","z":"42c4dc57.c44804","name":"Switch Callback","property":"callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":80,"wires":[["11f727ca.d89338"],["bf8a7ed4.6088a","95c9cc24.212bf"]]},{"id":"bf8a7ed4.6088a","type":"delay","z":"42c4dc57.c44804","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":140,"wires":[["d16f6b13.11c618"]]},{"id":"95c9cc24.212bf","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":100,"wires":[]},{"id":"cdd711cf.5b956","type":"http request","z":"42c4dc57.c44804","name":"Post msg to Callback-Url","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3410,"y":440,"wires":[["7ea4feef.3ed84"]]},{"id":"d16f6b13.11c618","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'The session was initialized. Send another message to test a plain-text message or choose one of the options.';\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":140,"wires":[["e2e8ad28.4c603"]]},{"id":"3d0f5844.314a88","type":"switch","z":"42c4dc57.c44804","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":320,"wires":[["b3836c11.290f5"],["4580cad.404b834","c413dcec.00b71"]]},{"id":"18fb03ea.1d91fc","type":"switch","z":"42c4dc57.c44804","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":480,"wires":[["69a96eff.29fc5"],["8c32b735.9171e8","ef2c7f1f.32cb4"]]},{"id":"409e16cb.942118","type":"switch","z":"42c4dc57.c44804","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":640,"wires":[["fb2c48d0.19a668"],["a1ea3316.09205","155e893b.538ed7"]]},{"id":"12e46295.efd2bd","type":"switch","z":"42c4dc57.c44804","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":960,"wires":[["5e1ea9e8.0b2ad8"],["a4af687b.e18618","1df11852.e21958"]]},{"id":"4580cad.404b834","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":340,"wires":[]},{"id":"8c32b735.9171e8","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":500,"wires":[]},{"id":"155e893b.538ed7","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":660,"wires":[]},{"id":"a4af687b.e18618","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":980,"wires":[]},{"id":"c413dcec.00b71","type":"delay","z":"42c4dc57.c44804","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":380,"wires":[["90669019.62d14"]]},{"id":"ef2c7f1f.32cb4","type":"delay","z":"42c4dc57.c44804","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":540,"wires":[["14ceeb33.9d7c35"]]},{"id":"a1ea3316.09205","type":"delay","z":"42c4dc57.c44804","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":700,"wires":[["d9bc84ba.4fbef8"]]},{"id":"1df11852.e21958","type":"delay","z":"42c4dc57.c44804","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":1020,"wires":[["d046c03a.994bb"]]},{"id":"90669019.62d14","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'Plain Text';\nmsg.payload.message = 'You have chosen the option to send a plain text Message :) \\r\\n Choose another option to continue...';\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":380,"wires":[["e2e8ad28.4c603"]]},{"id":"14ceeb33.9d7c35","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'richtext';\nmsg.payload.title = 'Richt Text';\nmsg.payload.message = `<p><b>You</b> have <i>chosen</i> the option to send a richt-text text Message.</p>\n<p>Image Example:<p>\n<img alt=\"Duck on a rock\" src=\"http://aka.ms/Fo983c\" />\n<p>Hyperlink Example:</p>\n<p><a href=\"https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-text-formats#examples-of-text-formatting\">Examples of text-formatting</a></p>\n<p>Choose another option to continue...</p>`;\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":540,"wires":[["e2e8ad28.4c603"]]},{"id":"d9bc84ba.4fbef8","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'adaptivecard';\nmsg.payload.message = `{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"This example uses [Adaptive Card Templating](https://adaptivecards.io/designer/)\",\n                    \"size\": \"Medium\",\n                    \"wrap\": true\n                }\n            ],\n            \"style\": \"good\",\n            \"bleed\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Example Card\"\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"style\": \"Person\",\n                            \"url\": \"https://pbs.twimg.com/profile_images/3647943215/d7f12830b3c17a5a9e4afcc370e3a37e_400x400.jpeg\",\n                            \"size\": \"Small\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Example Title\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"spacing\": \"None\",\n                            \"text\": \"Example Date - {{DATE(2020-02-14T06:08:39Z, SHORT)}}\",\n                            \"isSubtle\": true,\n                            \"wrap\": true\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"This is an example of an adaptive card that can be created with the App-Studio in Microsoft Teams or the online editor on adaptivecards.io. This card is sent in the payload as JSON.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n            {\n              \"title\": \"Type:\",\n              \"value\": \"Adaptive Card\"\n            },\n            {\n              \"title\": \"Provider:\",\n              \"value\": \"Dialogue Studio\"\n            }\n          ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Set a date\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"body\": [\n                    {\n                        \"type\": \"Input.Date\",\n                        \"id\": \"dueDate\"\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comment\",\n                        \"placeholder\": \"Add a comment\",\n                        \"isMultiline\": true\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"title\": \"OK\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            }\n        },\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"View\",\n            \"url\": \"http://golive.anywhere365.io/platform_elements/dialogue_studio/dialogue_studio.html\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}\n`;\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":700,"wires":[["e2e8ad28.4c603"]]},{"id":"d046c03a.994bb","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.title = 'ECHO';\nmsg.payload.message = 'ECHO: ' + msg.payload.originalMessage;\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":1020,"wires":[["e2e8ad28.4c603"]]},{"id":"7ea4feef.3ed84","type":"debug","z":"42c4dc57.c44804","name":"POST: Callback Reponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3690,"y":440,"wires":[]},{"id":"19262f70.6f6771","type":"comment","z":"42c4dc57.c44804","name":"Trigger the callback-api endpoint of the bot","info":"","x":3460,"y":400,"wires":[]},{"id":"4ad10e5b.5d072","type":"debug","z":"42c4dc57.c44804","name":"Client Disconnected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\t    \"payload\": \"Client disconnected\"\t}","targetType":"jsonata","x":1920,"y":220,"wires":[]},{"id":"3f0874da.bfef8c","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":1900,"y":180,"wires":[]},{"id":"39f06ed.88ee092","type":"comment","z":"42c4dc57.c44804","name":"Disconnected: Client sent disconnected state","info":"","x":1990,"y":140,"wires":[]},{"id":"ed9429a2.18f788","type":"debug","z":"42c4dc57.c44804","name":"Authorization Failed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.headers.authorization","targetType":"msg","x":1260,"y":380,"wires":[]},{"id":"ec254204.700fa","type":"debug","z":"42c4dc57.c44804","name":"Message Payload: State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.state","targetType":"msg","x":1330,"y":180,"wires":[]},{"id":"ebd30dd4.d8fa1","type":"debug","z":"42c4dc57.c44804","name":"Initialize Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2710,"y":100,"wires":[]},{"id":"89c7951c.d9ea78","type":"debug","z":"42c4dc57.c44804","name":"Plain-Text Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2720,"y":340,"wires":[]},{"id":"1ddb5d00.820ed3","type":"debug","z":"42c4dc57.c44804","name":"Rich-Text Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2720,"y":500,"wires":[]},{"id":"fef5bed5.d384b","type":"debug","z":"42c4dc57.c44804","name":"Adaptive-Card Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2730,"y":660,"wires":[]},{"id":"880a8cd6.c0341","type":"debug","z":"42c4dc57.c44804","name":"Echo Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2700,"y":980,"wires":[]},{"id":"e2e8ad28.4c603","type":"function","z":"42c4dc57.c44804","name":"Set State: Connected","func":"msg.payload.state = 'connected';\nreturn msg;","outputs":1,"noerr":0,"x":3060,"y":460,"wires":[["cdd711cf.5b956","304bd65a.cf685a"]]},{"id":"880a97c6.48fc48","type":"comment","z":"42c4dc57.c44804","name":"Validate token","info":"","x":570,"y":60,"wires":[]},{"id":"94be95fd.2475e8","type":"debug","z":"42c4dc57.c44804","name":"Message Payload: Option","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.optionId","targetType":"msg","x":1330,"y":220,"wires":[]},{"id":"304bd65a.cf685a","type":"debug","z":"42c4dc57.c44804","name":"POST: Complete Output Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3440,"y":520,"wires":[]},{"id":"7de91fb2.ba33a","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'Disconnecting, good bye!';\nmsg.payload.optionSet = [];\nreturn msg;","outputs":1,"noerr":0,"x":2460,"y":780,"wires":[["169b2f93.d3011","ede6c470.cfabb8"]]},{"id":"a20691df.a6f76","type":"comment","z":"42c4dc57.c44804","name":"Disconnect Confirmation","info":"","x":2210,"y":760,"wires":[]},{"id":"169b2f93.d3011","type":"http response","z":"42c4dc57.c44804","name":"Direct response","statusCode":"200","headers":{},"x":2700,"y":780,"wires":[]},{"id":"fd49f093.aadf3","type":"switch","z":"42c4dc57.c44804","name":"Switch Callback","property":"payload.callbackUrl","propertyType":"msg","rules":[{"t":"eq","v":"direct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":800,"wires":[["7de91fb2.ba33a"],["3b45fba1.f35ce4","dcc89c35.ad1f7"]]},{"id":"3b45fba1.f35ce4","type":"http response","z":"42c4dc57.c44804","name":"Response: OK","statusCode":"200","headers":{},"x":2480,"y":820,"wires":[]},{"id":"dcc89c35.ad1f7","type":"delay","z":"42c4dc57.c44804","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2460,"y":860,"wires":[["970fbde.f26e74"]]},{"id":"970fbde.f26e74","type":"function","z":"42c4dc57.c44804","name":"Set Body","func":"msg.payload.messageType = 'text';\nmsg.payload.message = 'Disconnecting, good bye!';\nmsg.payload.optionSet = [];\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":860,"wires":[["910b84eb.aa86d8"]]},{"id":"ede6c470.cfabb8","type":"debug","z":"42c4dc57.c44804","name":"Echo Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2700,"y":820,"wires":[]},{"id":"910b84eb.aa86d8","type":"function","z":"42c4dc57.c44804","name":"Set State: Disconnected","func":"msg.payload.state = 'disconnected';\nreturn msg;","outputs":1,"noerr":0,"x":3070,"y":500,"wires":[["cdd711cf.5b956","304bd65a.cf685a"]]},{"id":"41c87c7b.083ce4","type":"function","z":"42c4dc57.c44804","name":"Prepare Message Request","func":"// Hard-code the host here for tighter\n// security! This way you are sure the token\n// is validated with your bot.\nmsg = {\n    url: msg.payload.callbackHost+'/'+msg.payload.callbackUrl+'validate',\n    headers: {\n        'Content-Type': 'application/json',\n        'authorization': msg.req.headers.authorization\n    },\n    payload: {\n        id: msg.payload.id,\n        user: msg.payload.user,\n        token: '',\n        state: msg.payload.state,\n        callbackUrl: msg.payload.callbackUrl,\n        callbackHost: msg.payload.callbackHost,\n        messageType: msg.payload.messageType,\n        originalMessage: msg.payload.message,\n        message : '',\n        title : '',\n        culture: msg.payload.culture,\n        customerUri: msg.payload.customerUri,\n        customerName: msg.payload.customerName,\n        optionId: msg.payload.optionId,\n        optionSet: []\n    },\n    req: msg.req,\n    res: msg.res\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["bcf46cd8.b304"]]},{"id":"bcf46cd8.b304","type":"http request","z":"42c4dc57.c44804","name":"Validate token with Callback-Url","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":100,"wires":[["191a59c9.335556","c131db95.edffa8"]]},{"id":"191a59c9.335556","type":"debug","z":"42c4dc57.c44804","name":"POST: Validation Reponse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":100,"wires":[]},{"id":"12fc1f6f.11f4f1","type":"comment","z":"42c4dc57.c44804","name":"Store received message data","info":"","x":320,"y":60,"wires":[]},{"id":"c131db95.edffa8","type":"switch","z":"42c4dc57.c44804","name":"Check token result","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":140,"wires":[["6b741f9.cea5ce"],["4214ffa5.cf989","ed9429a2.18f788"]]},{"id":"7bae7d51.4bf274","type":"comment","z":"42c4dc57.c44804","name":"Restore message data and set new token","info":"","x":1320,"y":60,"wires":[]}]