Eventbus2SQLwidetable/a365-ds-event2sql-flow.json
[
    {
        "id": "a7aa3add.f7cd1",
        "type": "tab",
        "label": "Event to SQL",
        "disabled": false,
        "info": ""
    },
    {
        "id": "711a8890.8cc5e8",
        "type": "any-red-incoming-call",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "config": "5ace9665.55c5c8",
        "filtertype": "all",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "9e853e0c.c205d"
            ]
        ]
    },
    {
        "id": "d63fd152.3497c",
        "type": "MSSQL",
        "z": "a7aa3add.f7cd1",
        "mssqlCN": "9b735bfe.0b1618",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "params": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "f5f4367f.11e1f8"
            ]
        ]
    },
    {
        "id": "9e853e0c.c205d",
        "type": "any-red-ask-wait-input",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "saytext": "Hello, press 1 for Sales",
        "saymethod": "Default",
        "voice": "",
        "dtmftype": "DtmfNumChars",
        "tone": "1",
        "tonecount": "1",
        "timeout": "30",
        "playonce": true,
        "repeatdelay": "5",
        "speechphrase": "",
        "speechculture": "en-US",
        "dataType": "str",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "f2072c76.78ce58"
            ],
            [
                "51503210.a1d474"
            ]
        ]
    },
    {
        "id": "f2072c76.78ce58",
        "type": "any-red-enqueue",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "skill": "Sales",
        "dataType": "str",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "51503210.a1d474",
        "type": "function",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "9e853e0c.c205d"
            ]
        ]
    },
    {
        "id": "23dd90d5.2334e8",
        "type": "function",
        "z": "a7aa3add.f7cd1",
        "name": "Callstart",
        "func": "// DialogueParticipantAddedEvent\n\nif (msg.payload.event.roles != 'Customer') { return } // skip if not customer\n\nlet sql1 = 'INSERT INTO callsimple (dialogueid,starttime,callername) VALUES '\nlet sql2 = msg.payload.event.dialogueId\nlet sql3 = msg.payload.event.timestamp\nlet sql4 = \"\"\nif (msg.payload.event.displayName.substr(0,3) == \"tel\") {\n    sql4 = msg.payload.event.displayName  // tel:+31881212123\n    } else {\n    sql4 = msg.payload.event.sipUri         // sip:callername@wsp.com\n    }\nmsg.payload = sql1 + \"('\" + sql2 + \"','\" + sql3 + \"','\" + sql4 + \"')\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "d63fd152.3497c",
                "5caaff13.230ab8"
            ]
        ]
    },
    {
        "id": "cc8ab7dc.fe69c8",
        "type": "any-red-event-bus",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "config": "5ace9665.55c5c8",
        "filtertype": "all",
        "x": 120,
        "y": 370,
        "wires": [
            [
                "b216639d.e922b8",
                "cf0106cd.88abd8"
            ]
        ]
    },
    {
        "id": "b216639d.e922b8",
        "type": "switch",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "property": "payload.eventType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DialogueParticipantAddedEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DialogueQueueEnteredEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DialogueAgentJoinedEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DialogueAgentLeftEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DialogueParticipantRemovedEvent",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "23dd90d5.2334e8"
            ],
            [
                "99accb8c.5245"
            ],
            [
                "9c80e541.ef752"
            ],
            [
                "a77343b4.610198"
            ],
            [
                "6a49540c.c97f8c"
            ],
            []
        ]
    },
    {
        "id": "99accb8c.5245",
        "type": "function",
        "z": "a7aa3add.f7cd1",
        "name": "Skill",
        "func": "// DialogueQueueEnteredEvent\n// do nothing if queueName is initial\nif (msg.payload.event.queueName == \"initial\") {\n    return \n}\n\nlet sql1 = \"UPDATE callsimple SET \"\nlet sql2 = \"skill = '\" + msg.payload.event.queueName + \"', \"\nlet sql3 = \"skillstarttime = '\" + msg.payload.event.timestamp + \"' \"\nlet sql4 = \"WHERE dialogueid = '\" + msg.payload.event.dialogueId + \"'\"\n\nmsg.payload = sql1 + sql2 +  sql3 + sql4 \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "d63fd152.3497c",
                "14c335a8.86f2b2"
            ]
        ]
    },
    {
        "id": "9c80e541.ef752",
        "type": "function",
        "z": "a7aa3add.f7cd1",
        "name": "Agentstart",
        "func": "// DialogueAgentJoinedEvent\n\nlet sql1 = \"UPDATE callsimple SET \"\nlet sql2 = \"agentname = '\" + msg.payload.event.sipUri + \"', \"\nlet sql3 = \"agentstarttime = '\" + msg.payload.event.timestamp + \"' \"\nlet sql4 = \"WHERE dialogueid = '\" + msg.payload.event.dialogueId + \"'\"\n\nmsg.payload = sql1 + sql2 +  sql3 + sql4 \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "d63fd152.3497c",
                "14c335a8.86f2b2"
            ]
        ]
    },
    {
        "id": "a77343b4.610198",
        "type": "function",
        "z": "a7aa3add.f7cd1",
        "name": "Agentstop",
        "func": "// DialogueAgentLeftEvent\n\nlet sql1 = \"UPDATE callsimple SET \"\nlet sql3 = \"agentstoptime = '\" + msg.payload.event.timestamp + \"' \"\nlet sql4 = \"WHERE dialogueid = '\" + msg.payload.event.dialogueId + \"'\"\n\nmsg.payload = sql1 + sql3 + sql4 \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "14c335a8.86f2b2",
                "d63fd152.3497c"
            ]
        ]
    },
    {
        "id": "6a49540c.c97f8c",
        "type": "function",
        "z": "a7aa3add.f7cd1",
        "name": "Callstop",
        "func": "// DialogueParticipantRemovedEvent\n\nlet sql1 = \"UPDATE callsimple SET \"\nlet sql3 = \"stoptime = '\" + msg.payload.event.timestamp + \"' \"\nlet sql4 = \"WHERE dialogueid = '\" + msg.payload.event.dialogueId + \"'\"\n\nmsg.payload = sql1 + sql3 + sql4 \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "14c335a8.86f2b2",
                "d63fd152.3497c"
            ]
        ]
    },
    {
        "id": "cf0106cd.88abd8",
        "type": "debug",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "5caaff13.230ab8",
        "type": "debug",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "f5f4367f.11e1f8",
        "type": "debug",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "14c335a8.86f2b2",
        "type": "debug",
        "z": "a7aa3add.f7cd1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "5ace9665.55c5c8",
        "type": "any-red-config",
        "z": "",
        "active": true,
        "ucc": "ucc_xyz"
    },
    {
        "id": "9b735bfe.0b1618",
        "type": "MSSQL-CN",
        "z": "",
        "tdsVersion": "7_4",
        "name": "",
        "server": "sql2019",
        "port": "1433",
        "encyption": true,
        "database": "aplay",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true
    }
]