DynamicsOnlineintegration/dynamics_online_sample.json
[
    {
        "id": "a05dd4de.c6c918",
        "type": "subflow",
        "name": "Dataverse token (client credentials)",
        "info": "Gets an access token for Microsoft Dataverse using the Microsoft identity platform v2.0 client-credentials flow and caches it.\nEnv vars required (set on the subflow *instance*):\n- TENANT_ID: your Entra tenant GUID\n- D365_ORG_URL: e.g., https://contoso.crm4.dynamics.com\n- CLIENT_ID (cred)\n- CLIENT_SECRET (cred)\n\nStores in flow context:\n- dv_at  : access token string\n- dv_exp : expiry (epoch ms)\n- dv_org : org base URL\n\nOutput: passes msg through after ensuring a valid token is cached.",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 140,
                "wires": [
                    {
                        "id": "a4857e69.13745"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 860,
                "y": 160,
                "wires": [
                    {
                        "id": "f7d3e0a1.abcd12",
                        "port": 0
                    },
                    {
                        "id": "8b51df6f.c4e18",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TENANT_ID",
                "type": "str",
                "value": "<your-tenant-guid>"
            },
            {
                "name": "D365_ORG_URL",
                "type": "str",
                "value": "https://<yourorg>.crm4.dynamics.com"
            },
            {
                "name": "CLIENT_ID",
                "type": "cred",
                "value": ""
            },
            {
                "name": "CLIENT_SECRET",
                "type": "cred",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "68bcdac4.df00e4",
        "type": "http request",
        "z": "a05dd4de.c6c918",
        "name": "requestToken",
        "method": "use",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "6d0e391d.363088"
            ]
        ]
    },
    {
        "id": "8b51df6f.c4e18",
        "type": "function",
        "z": "a05dd4de.c6c918",
        "name": "save token",
        "func": "// Persist token and expiry using expires_in (with 60s safety)\nconst at = msg.payload && msg.payload.access_token;\nconst ttl = msg.payload && (msg.payload.expires_in || 3600);\nif (!at) {\n    node.error(\"No access_token in token response\", msg);\n    return null;\n}\nconst exp = Date.now() + Math.max(0, (ttl - 60)) * 1000;\nflow.set(\"dv_at\", at);\nflow.set(\"dv_exp\", exp);\nflow.set(\"dv_org\", env.get(\"D365_ORG_URL\"));\n// Optional: keep legacy globals for older nodes\nglobal.set(\"dynat\", at);\nglobal.set(\"dynexpire\", new Date(exp));\nmsg.access_token = at;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6d0e391d.363088",
        "type": "switch",
        "z": "a05dd4de.c6c918",
        "name": "statusCode === 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "8b51df6f.c4e18"
            ]
        ]
    },
    {
        "id": "e670399c.342468",
        "type": "switch",
        "z": "a05dd4de.c6c918",
        "name": "token still valid?",
        "property": "dv_exp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "now",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "f7d3e0a1.abcd12"
            ],
            [
                "1d93a8ef.b4f487"
            ]
        ]
    },
    {
        "id": "a4857e69.13745",
        "type": "function",
        "z": "a05dd4de.c6c918",
        "name": "set now()",
        "func": "msg.now = Date.now();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 160,
        "wires": [
            [
                "e670399c.342468"
            ]
        ]
    },
    {
        "id": "1d93a8ef.b4f487",
        "type": "function",
        "z": "a05dd4de.c6c918",
        "name": "build v2 token request",
        "func": "const tenant = env.get(\"TENANT_ID\");\nconst org = env.get(\"D365_ORG_URL\");\nconst clientId = env.get(\"CLIENT_ID\");\nconst clientSecret = env.get(\"CLIENT_SECRET\");\nif (!tenant || !org || !clientId || !clientSecret) {\n    node.error(\"Subflow env vars not set: TENANT_ID, D365_ORG_URL, CLIENT_ID, CLIENT_SECRET\", msg);\n    return null;\n}\nmsg.url = `https://login.microsoftonline.com/${tenant}/oauth2/v2.0/token`;\nmsg.headers = { 'Content-Type': 'application/x-www-form-urlencoded' };\nmsg.payload = {\n    client_id: clientId,\n    client_secret: clientSecret,\n    grant_type: 'client_credentials',\n    scope: org.replace(/\\/+$/,'') + '/.default'\n};\nmsg.method = 'POST';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "68bcdac4.df00e4"
            ]
        ]
    },
    {
        "id": "f7d3e0a1.abcd12",
        "type": "function",
        "z": "a05dd4de.c6c918",
        "name": "return cached token",
        "func": "msg.access_token = flow.get(\"dv_at\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "15f3bbbd.280844",
        "type": "tab",
        "label": "Sample: Contacts by phone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1264499.b0bf9b6",
        "type": "inject",
        "z": "15f3bbbd.280844",
        "name": "Example: set phone",
        "props": [
            {
                "p": "phone",
                "v": "+31 (20) 123 4567",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "95a98cd0.2ace7"
            ]
        ]
    },
    {
        "id": "95a98cd0.2ace7",
        "type": "subflow:a05dd4de.c6c918",
        "z": "15f3bbbd.280844",
        "name": "Ensure Dataverse token",
        "env": [
            {
                "name": "TENANT_ID",
                "value": "<your-tenant-guid>",
                "type": "str"
            },
            {
                "name": "D365_ORG_URL",
                "value": "https://<yourorg>.crm4.dynamics.com",
                "type": "str"
            },
            {
                "name": "CLIENT_ID",
                "value": "",
                "type": "cred"
            },
            {
                "name": "CLIENT_SECRET",
                "value": "",
                "type": "cred"
            }
        ],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "66a76fe1.48657"
            ]
        ]
    },
    {
        "id": "66a76fe1.48657",
        "type": "function",
        "z": "15f3bbbd.280844",
        "name": "build contacts query by phone",
        "func": "const token = flow.get(\"dv_at\") || global.get(\"dynat\");\nconst org = flow.get(\"dv_org\") || \"https://<yourorg>.crm4.dynamics.com\";\nif (!token) {\n  node.error(\"No access token in context. Run the token subflow first.\", msg);\n  return null;\n}\n\n// Use the raw phone string; OData contains() is substring match.\n// IMPORTANT: URL-encode special chars like '+'.\nconst raw = (msg.phone ?? \"\").toString().trim();\nif (!raw) { node.error(\"Set msg.phone\"); return null; }\nconst q = encodeURIComponent(raw); // encodes + to %2B, etc.\n\nmsg.headers = {\n  \"Authorization\": \"Bearer \" + token,\n  \"Accept\": \"application/json\",\n  \"OData-MaxVersion\": \"4.0\",\n  \"OData-Version\": \"4.0\",\n  \"Prefer\": \"odata.maxpagesize=50\"\n};\nmsg.method = \"GET\";\n\nconst base = org.replace(/\\/+$/,'') + \"/api/data/v9.2/contacts\";\nconst select = \"$select=firstname,lastname,fullname,telephone1,mobilephone,emailaddress1\";\n\n// Use OData contains() instead of Microsoft.Dynamics.CRM.Contains(...)\n// Also search mobilephone to catch more cases.\nconst filter = `$filter=contains(telephone1,'${q}') or contains(mobilephone,'${q}')`;\n\nmsg.url = `${base}?${select}&${filter}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 200,
        "wires": [
            [
                "28fdd27a.d57b1e"
            ]
        ]
    },
    {
        "id": "28fdd27a.d57b1e",
        "type": "http request",
        "z": "15f3bbbd.280844",
        "name": "GET /contacts",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 960,
        "y": 200,
        "wires": [
            [
                "c7e1b8a1.3df480"
            ]
        ]
    },
    {
        "id": "c7e1b8a1.3df480",
        "type": "debug",
        "z": "15f3bbbd.280844",
        "name": "contacts (payload.value)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.value",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 200,
        "wires": []
    }
]