DynamicsOnlineintegration/dynamics_online_sample.json
[{"id":"a05dd4de.c6c918","type":"subflow","name":"Dynamics AT check and creation","info":"","category":"","in":[{"x":280,"y":240,"wires":[{"id":"a4857e69.13745"}]}],"out":[{"x":1560,"y":229,"wires":[{"id":"e670399c.342468","port":0},{"id":"8b51df6f.c4e18","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"68bcdac4.df00e4","type":"http request","z":"a05dd4de.c6c918","name":"requestToken","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1080,"y":260,"wires":[["6d0e391d.363088"]]},{"id":"8b51df6f.c4e18","type":"function","z":"a05dd4de.c6c918","name":"save AT","func":"var date = new Date()\nglobal.set(\"dynat\", msg.payload.access_token);\nglobal.set(\"dynexpire\", new Date(date.setHours(date.getHours()+1)));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":260,"wires":[[]]},{"id":"6d0e391d.363088","type":"switch","z":"a05dd4de.c6c918","name":"Statuscode = 200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":260,"wires":[["8b51df6f.c4e18"]]},{"id":"e670399c.342468","type":"switch","z":"a05dd4de.c6c918","name":"","property":"dynexpire","propertyType":"global","rules":[{"t":"gt","v":"time","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":240,"wires":[[],["1d93a8ef.b4f487"]]},{"id":"a4857e69.13745","type":"function","z":"a05dd4de.c6c918","name":"check if AT is expired","func":"msg.time = new Date()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["e670399c.342468"]]},{"id":"1d93a8ef.b4f487","type":"function","z":"a05dd4de.c6c918","name":"writeGraphAuthHeader-client_credential","func":"msg.url = 'https://login.microsoftonline.com/<your tenant id>/oauth2/token'\nmsg.headers = {'Content-Type': 'application/x-www-form-urlencoded'}\nmsg.payload = {'client_id': '<your client id>',\n    'resource': 'https://<your domain>.crm4.dynamics.com/',\n    'client_secret': '<your client secret>',\n    'grant_type': 'client_credentials'}\nmsg.method = \"POST\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":260,"wires":[["68bcdac4.df00e4"]]},{"id":"1264499.b0bf9b6","type":"inject","z":"15f3bbbd.280844","name":"","props":[{"p":"client_id","v":"574ca29a-f755-4ffc-8532-dd0a6b75c1ca","vt":"str"},{"p":"client_secret","v":"XOz8Q~BgWGK3yXhYPu452GlzQYBgXWjyExAnccL8","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":290,"y":700,"wires":[["95a98cd0.2ace7"]]},{"id":"95a98cd0.2ace7","type":"subflow:a05dd4de.c6c918","z":"15f3bbbd.280844","name":"Dynamics AT check and creation","env":[],"x":510,"y":700,"wires":[["66a76fe1.48657"]]},{"id":"66a76fe1.48657","type":"function","z":"15f3bbbd.280844","name":"set query","func":"msg.headers = {\n    \"Authorization\": \"Bearer \" + global.get(\"dynat\"),\n    \"Accept\": \"application/json\",\n    \"OData-MaxVersion\": \"4.0\",\n    \"OData-Version\": \"4.0\"\n};\nmsg.method = \"GET\"\nvar q = \"<your phone query without a \"+\">\"\n\nmsg.url = \"https://<yourdomain>.crm4.dynamics.com/api/data/v9.2/contacts?$filter=contains(telephone1,%27\" + q + \"%27)&$select=firstname, lastname, fullname, telephone1, emailaddress1\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":700,"wires":[["28fdd27a.d57b1e"]]},{"id":"28fdd27a.d57b1e","type":"http request","z":"15f3bbbd.280844","name":"requestQuery","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":700,"wires":[[]]}]