DefaultUCCsimple_solution/Base-IVR-with-Retry-and-Timeout.json
[
    {
        "id": "3b07f7b9.786a98",
        "type": "tab",
        "label": "Standard IVR Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3126d165.06bbd6",
        "type": "any-red-ask-wait-input",
        "z": "3b07f7b9.786a98",
        "name": "Ask&Wait: Press 1",
        "saytext": "Press 1 for Sales, Press 2 for Support, Press 3 for Other questions, juast wait or Press 9 to repeate the menu",
        "dtmftype": "DtmfNumChars",
        "tone": "1",
        "tonecount": "1",
        "timeout": "60",
        "playonce": false,
        "repeatdelay": "8",
        "speechphrase": "",
        "speechculture": "en-US",
        "dataType": "str",
        "x": 341,
        "y": 260,
        "wires": [
            [
                "f1c36de8.f6ec6"
            ],
            [
                "54bcdc16.522424"
            ]
        ]
    },
    {
        "id": "8d56e851.b6af7",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "",
        "text": "Welcome to Top accounting",
        "dataType": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "3126d165.06bbd6"
            ]
        ]
    },
    {
        "id": "c5eb3e08.50ad7",
        "type": "any-red-incoming-call",
        "z": "3b07f7b9.786a98",
        "name": "",
        "config": "db689376.9fd678",
        "filtertype": "audiovideo",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "8d56e851.b6af7"
            ]
        ]
    },
    {
        "id": "f1c36de8.f6ec6",
        "type": "switch",
        "z": "3b07f7b9.786a98",
        "name": "",
        "property": "payload.dtmf",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "5916a51c.27328c"
            ],
            [
                "253567e9.7ca1a8"
            ],
            [
                "25753a2e.68ddc6"
            ],
            [
                "3126d165.06bbd6"
            ],
            [
                "3126d165.06bbd6"
            ]
        ]
    },
    {
        "id": "5916a51c.27328c",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "Say: Sales",
        "text": "You have chosen Sales",
        "dataType": "str",
        "x": 750,
        "y": 107,
        "wires": [
            [
                "b5cfd5c3.2fd29"
            ]
        ]
    },
    {
        "id": "253567e9.7ca1a8",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "Say: Support",
        "text": "You have choosen Support",
        "dataType": "str",
        "x": 750,
        "y": 147,
        "wires": [
            [
                "42419066.dd978"
            ]
        ]
    },
    {
        "id": "25753a2e.68ddc6",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "Say: Other",
        "text": "You have chosen Other",
        "dataType": "str",
        "x": 750,
        "y": 187,
        "wires": [
            [
                "615b80b7.beb3c8"
            ]
        ]
    },
    {
        "id": "b5cfd5c3.2fd29",
        "type": "any-red-enqueue",
        "z": "3b07f7b9.786a98",
        "name": "",
        "skill": "Sales",
        "dataType": "str",
        "x": 980,
        "y": 107,
        "wires": []
    },
    {
        "id": "42419066.dd978",
        "type": "any-red-enqueue",
        "z": "3b07f7b9.786a98",
        "name": "",
        "skill": "Support",
        "dataType": "str",
        "x": 990,
        "y": 147,
        "wires": []
    },
    {
        "id": "615b80b7.beb3c8",
        "type": "any-red-enqueue",
        "z": "3b07f7b9.786a98",
        "name": "",
        "skill": "Other",
        "dataType": "str",
        "x": 980,
        "y": 187,
        "wires": []
    },
    {
        "id": "54bcdc16.522424",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "",
        "text": "We did not get your choice, please call back later, bye",
        "dataType": "str",
        "x": 770,
        "y": 266,
        "wires": [
            [
                "142a03f2.1fdbcc"
            ]
        ]
    },
    {
        "id": "142a03f2.1fdbcc",
        "type": "any-red-disconnect",
        "z": "3b07f7b9.786a98",
        "name": "",
        "x": 970,
        "y": 266,
        "wires": []
    },
    {
        "id": "92e23596.3b91f8",
        "type": "comment",
        "z": "3b07f7b9.786a98",
        "name": "",
        "info": "# Anywhere365 Dialogue Studio\n## Standard simple IVR flow - nocode\n## flow description\nStandard 'press 1 for ..' ivr flow. With 3 skill choices: Sales, Support and Other. Menu will automatically repeate after 8 second pause. Press 9 to repeate the menu. Timeout after 60 second no caller response with bye message and disconnect action.\n\n## Incoming - node\nAccepts incoming voice call\n\n## Say: Welcome - node\nAnnounce welcome message\n\n## Ask&Wait: Press 1 - node\n - Press 1 for Sales\n - Press 2 for Support\n - Press 3 for Other\n - Press 9 to manual repeat the menu\nAutomatic repeat menu after 8 second pause. Timeout after 60 seconds with message and then disconnect.\n\n## Switch - node\nRoute caller choice to skill. Confirm skill choice. Flow to Ask&Wait node on choice 9 or any non 123 choice.\n\n## Say skill - nodes\nConfirm caller choice\n\n## Enqueue - nodes\nRoute call to skill queue\n\n## Say: We did not - node\nWe did not get your choice, please call back later, bye\n\n## Disconnect\nDisconnect, see you later.\n\n## Post Import\n - Change Server name in Incoming node\n - Make sure you have configured same skills in your ucc\n - optional change Say and Ask&Wait messages\n",
        "x": 120,
        "y": 340,
        "wires": []
    },
    {
        "id": "db689376.9fd678",
        "type": "any-red-config",
        "z": "",
        "url": "http://<servernamefqdn>:<portnumber>/<uccname>"
    }
]