DefaultUCCsimple_solution/Base-IVR-with-Retry-and-Timeout.json
[
    {
        "id": "3b07f7b9.786a98",
        "type": "tab",
        "label": "Standard IVR Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3126d165.06bbd6",
        "type": "any-red-ask-wait-input",
        "z": "3b07f7b9.786a98",
        "name": "Ask&Wait: Press 1",
        "saytext": "Press 1 for Sales, Press 2 for Support, Press 3 for Other questions, juast wait or Press 9 to repeat the menu",
        "saymethod": "Default",
        "aawoption": "Say",
        "voice": "",
        "audioFile": "",
        "audioFileSource": "url",
        "dtmftype": "DtmfNumChars",
        "tone": "1",
        "tonecount": "1",
        "timeout": "60",
        "playonce": false,
        "repeatdelay": "8",
        "speechphrase": "",
        "speechculture": "en-US",
        "dataType": "str",
        "audioFileDataType": "str",
        "x": 341,
        "y": 260,
        "wires": [
            [
                "f1c36de8.f6ec6"
            ],
            [
                "54bcdc16.522424"
            ]
        ]
    },
    {
        "id": "8d56e851.b6af7",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "",
        "text": "Welcome to Top accounting",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "3126d165.06bbd6"
            ]
        ]
    },
    {
        "id": "c5eb3e08.50ad7",
        "type": "any-red-incoming-call",
        "z": "3b07f7b9.786a98",
        "name": "",
        "config": "",
        "filtertype": "audiovideo",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "8d56e851.b6af7"
            ]
        ]
    },
    {
        "id": "f1c36de8.f6ec6",
        "type": "switch",
        "z": "3b07f7b9.786a98",
        "name": "",
        "property": "payload.dtmf",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "5916a51c.27328c"
            ],
            [
                "253567e9.7ca1a8"
            ],
            [
                "25753a2e.68ddc6"
            ],
            [
                "3126d165.06bbd6"
            ],
            [
                "3126d165.06bbd6"
            ]
        ]
    },
    {
        "id": "5916a51c.27328c",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "Say: Sales",
        "text": "You have chosen Sales",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 750,
        "y": 107,
        "wires": [
            [
                "d9b5f4f0fceeb4d2"
            ]
        ]
    },
    {
        "id": "253567e9.7ca1a8",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "Say: Support",
        "text": "You have choosen Support",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 750,
        "y": 147,
        "wires": [
            [
                "2f3dc4a473bfd822"
            ]
        ]
    },
    {
        "id": "25753a2e.68ddc6",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "Say: Other",
        "text": "You have chosen Other",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 750,
        "y": 187,
        "wires": [
            [
                "cd03f21b320f71cd"
            ]
        ]
    },
    {
        "id": "54bcdc16.522424",
        "type": "any-red-say",
        "z": "3b07f7b9.786a98",
        "name": "",
        "text": "We did not get your choice, please call back later, bye",
        "dataType": "str",
        "saymethod": "Default",
        "voice": "",
        "x": 700,
        "y": 260,
        "wires": [
            [
                "c91b753a463556bf"
            ]
        ]
    },
    {
        "id": "c91b753a463556bf",
        "type": "any-red-action",
        "z": "3b07f7b9.786a98",
        "name": "",
        "sweetName": "Empty action",
        "actionType": "disconnect",
        "fromSessionId": "session.id",
        "fromDataType": "msg",
        "toSessionId": "fromSessionId",
        "toDataType": "msg",
        "skill": "",
        "skillDataType": "str",
        "sip": "",
        "sipDataType": "str",
        "agentSips": "",
        "agentSipsDataType": "str",
        "config": "",
        "questionsfilter": "",
        "questionid": "",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "d9b5f4f0fceeb4d2",
        "type": "any-red-action",
        "z": "3b07f7b9.786a98",
        "name": "",
        "sweetName": "Empty action",
        "actionType": "enqueue",
        "fromSessionId": "session.id",
        "fromDataType": "msg",
        "toSessionId": "fromSessionId",
        "toDataType": "msg",
        "skill": "Sales",
        "skillDataType": "str",
        "sip": "",
        "sipDataType": "str",
        "agentSips": "",
        "agentSipsDataType": "str",
        "config": "",
        "questionsfilter": "",
        "questionid": "",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "2f3dc4a473bfd822",
        "type": "any-red-action",
        "z": "3b07f7b9.786a98",
        "name": "",
        "sweetName": "Empty action",
        "actionType": "enqueue",
        "fromSessionId": "session.id",
        "fromDataType": "msg",
        "toSessionId": "fromSessionId",
        "toDataType": "msg",
        "skill": "Support",
        "skillDataType": "str",
        "sip": "",
        "sipDataType": "str",
        "agentSips": "",
        "agentSipsDataType": "str",
        "config": "",
        "questionsfilter": "",
        "questionid": "",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd03f21b320f71cd",
        "type": "any-red-action",
        "z": "3b07f7b9.786a98",
        "name": "",
        "sweetName": "Empty action",
        "actionType": "enqueue",
        "fromSessionId": "session.id",
        "fromDataType": "msg",
        "toSessionId": "fromSessionId",
        "toDataType": "msg",
        "skill": "Other",
        "skillDataType": "str",
        "sip": "",
        "sipDataType": "str",
        "agentSips": "",
        "agentSipsDataType": "str",
        "config": "",
        "questionsfilter": "",
        "questionid": "",
        "x": 980,
        "y": 180,
        "wires": []
    }
]